dataset/*
model/*
tmp/*
wandb/*
api/*
feature_labels/*
SAEs/*

!dataset/.gitkeep
!model/.gitkeep
!tmp/.gitkeep
!api/.gitkeep
!feature_labels/.gitkeep
!SAEs/.gitkeep
!SAEs/*.py

outputs/*
errors/*
*.out
*.log
log.out
*.pt
*.sh
*.sbatch
*.json
*.png
*.txt
